---
kind: Secret
apiVersion: v1
metadata:
  name: ceph-secret-admin
  namespace: rbd-provisioner
type: Opaque
data:
  secret: {{ ceph_secret_admin_base64 }}
---
kind: Secret
apiVersion: v1
metadata:
  name: ceph-secret-user
  namespace: rbd-provisioner
type: Opaque
data:
  key: {{ ceph_secret_user_base64 }} 

